---
import DocsLayout from "../../layouts/DocsLayout.astro";

---
<DocsLayout title="Home" description="Welcome to the Astro docs!">
  <section class="main-section">
    <h1 class="content-title" id="overview">Welcome to the Astro docs!</h1>
    <p>
      Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience. Astro sites are built with a single file component syntax that makes it easy to build complex pages with reusable components.
    </p>
    <p>
      This site is a work in progress, and we're excited to share more with you soon. In the meantime, check out the <button onclick="window.location.href = '/docs/';"> Docs </button> to learn more about Astro.
    </p>
  </section>
</DocsLayout>