@use '../utils/include-media.scss' as *;

.main-header {
  z-index: 11;
  height: var(--theme-navbar-height);
  width: 100%;
  background-color: var(--theme-navbar-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;

  .logo {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 30px;
    font-size: 2rem;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1;
    color: hsla(var(--theme-accent), 100%, 1);
    gap: 0.25em;
    z-index: -1;

    a {
      display: flex;
      padding: 0.5em 0.25em;
      margin: -0.5em -0.25em;
      text-decoration: none;
      font-weight: bold;
      transition: color 100ms ease-out;
      color: var(--theme-text);

      &:hover,
      &:focus {
        color: var(--theme-text-accent);
      }
    }

    h1 {
      display: none;
      font: inherit;
      color: inherit;
      margin: 0;
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
    max-width: 82em;
    padding: 0 1rem;

    .nav-links {
      a {
        padding: 1em 0.5em;
        color: var(--theme-text);
        border-bottom: 4px solid transparent;
        text-decoration: none;
        transition: color 0.3s ease, border-bottom-color 0.3s ease;
        font-size: 1.25rem;

        &.active {
          text-decoration: none;
          border-bottom-color: var(--theme-accent);
        }

        &:hover {
          color: var(--theme-accent);
        }
      }
    }
  }

  // **Media Query for Larger Screens**
  @include media(">=50em") {
    position: static;
    padding: 2rem 0rem;

    .logo {
      width: auto;
      margin: 0;
      z-index: 0;

      h1 {
        display: initial;
      }
    }

    .menu-toggle {
      display: none;
    }

    .nav-wrapper {
      .nav-links {
        display: flex;
        gap: 1em;
      }
    }
  }

  // **Hide nav-links and theme selector on smaller screens**
  @include media("<50em") {
    .nav-links {
      display: none;
    }

    .theme-switcher {
      display: none;
    }
  }
}
