---
import { slugify } from '@/js/utils';
interface Props {
  header?: string;
  category?: string;
  dashboardDocs?: any;
}
const { category, dashboardDocs } = Astro.props;
---

<nav class="docs-nav" aria-labelledby="grid-left">
  <h2 class="heading">{category}<hr /></h2>
  <ul class="nav-groups">
    <div class="nav-group">
      <ul>
        {
          dashboardDocs.map((docs: any) => (
            <li class="nav-link">
              <a href={`/${slugify(category)}/${docs.id}`}>{docs.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <script is:inline>
      window.addEventListener("DOMContentLoaded", () => {
        var target = document.querySelector('[aria-current="page"]');
        if (target && target.offsetTop > window.innerHeight - 100) {
          document.querySelector(".nav-groups").scrollTop = target.offsetTop;
        }
      });
    </script>
    <script is:inline>
      window.addEventListener("DOMContentLoaded", () => {
        // Get all nav links
        const navLinks = document.querySelectorAll(".nav-link a");
    
        // Get the current URL path
        const currentPath = window.location.pathname;
    
        // Loop through links and set `aria-current` for the active link
        navLinks.forEach(link => {
          if (link.getAttribute("href") === currentPath) {
            link.setAttribute("aria-current", "page");
          }
        });
    
        // Scroll the active link into view if needed
        const activeLink = document.querySelector('[aria-current="page"]');
        if (activeLink && activeLink.offsetTop > window.innerHeight - 100) {
          document.querySelector(".nav-groups").scrollTop = activeLink.offsetTop;
        }
      });
    </script>

