/* Body Styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body, Arial, sans-serif);
  font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
  line-height: 1.5;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
  margin: 0; /* Ensure no margin causing extra space */
}

main.layout{
  display: grid;
  grid-template-columns: 16rem 1fr 18rem; /* Fixed sidebars and flexible center */
  gap: 2rem; /* Add spacing between columns */
  flex-grow: 1;
  height: 100%; /* Ensure it grows to fill available space */
  max-width: 1400px; /* Maximum width for the layout */
  margin: 0 auto; /* Center the layout within the viewport */
  overflow: hidden; /* Prevent any unnecessary scrolling */
}

// Sidebar Styling
/* .sidebar {
  background-color: var(--theme-bg-secondary);
  padding: 1rem;
  overflow-y: auto;
} */

nav ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--text-bright);
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

q::before {
  content: none;
}

q::after {
  content: none;
}

blockquote,
q {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  font-style: normal;
  border: 0;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^='mailto\:']::before {
  content: '📧 ';
}

a[href^='tel\:']::before {
  content: '📞 ';
}

a[href^='sms\:']::before {
  content: '💬 ';
}

mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0 2px 0 2px;
  color: #000;
}

a > code,
a > strong {
  color: inherit;
}