---
const { relatedDocs } = Astro.props;
import { slugify } from "@/js/utils";

// Define the expected type for relatedDocs
type RelatedDoc = {
  id: string;
  data: {
    title: string;
  };
};

const { category } = Astro.props;

---

<section class="related-notes">
  <h2 class="heading">Related Notes</h2>
  <hr />
  {relatedDocs?.length > 0 ? (
    <ul>
      {relatedDocs.map((relatedDoc: RelatedDoc) => (
        <li>
          <a href={`/${slugify(category)}/${relatedDoc.id}`}>{relatedDoc.data?.title ?? "Untitled"}</a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No related notes found.</p>
  )}
</section>
