---
import Link from "@/components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout title="Home" description="Welcome to the Astro docs!">
  <section class="main-section">
    <h1 class="content-title" id="overview">Welcome to the Astro docs!</h1>
    <p>
      Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience. Astro sites are built with a single file component syntax that makes it easy to build complex pages with reusable components.
    </p>
    <p>
      This site is a work in progress, and we're excited to share more with you soon. In the meantime, check out the 
    <Link
      href="/docs"
      style="secondary"
      text="My Docs"
      icon={{
        name: "tabler:notebook",
        side: "right",
      }}
    />
    <Link href="/about/" style="secondary" text="👋 About Me" />
  </div> to learn more about Astro.
  </p>
    <small>
      <a href="/docs/" class="badge">Docs</a>
    </small>
    <input type="button" class="light-button" />


    <input type="button" class="light-button" value="Copy Color"/>
    <input type="button" class="mid-button" value="Copy Color"/>
    <input type="button" class="dark-button" value="Copy Color"/>
    
    <small>
      <a href="https://google.com" class="badge">Test Google</a>
    </small>

    <h3 id="code">Code</h3>
    <p>
      Below is some code, you can copy it with <kbd>Ctrl-C</kbd>. Did you know,
      <code>alert(1)</code> can show an alert in JavaScript!
    </p>
    <pre><code>// This logs a message to the console and check out the scrollbar.<br>console.log('Hello, world!')</code></pre>
  </section>
</MainLayout>

<style>
  .mid-button
  {
    background-color: hsl(var(--accent-color-mid), 1);
    color: white;
  }
  .dark-button
  {
    background-color: hsl(var(--accent-color-dark), 1);
    color: white;
  }
  .light-button
  {
    background-color: hsl(var(--accent-color-light), 1);
  }
</style>


