---
const today = new Date();
import { siteConfig } from "@/site-config";
---

<footer>
    <div class="footer-content">
        <span>&copy; {today.getFullYear()} | {siteConfig.author} | All rights reserved.</span>
    </div>
</footer>

