---
import HeadCommon from '../components/HeadCommon.astro'
import Header from '../components/Header/Header.astro'
import MainFooter from '../components/Footer/MainFooter.astro'
const {
    title,
    description,
    footer: showFooter = true,
} = Astro.props;

---

<html lang="en" class="initial">
  <head>
    <HeadCommon {title} {description} />
  </head>
  <body>
    <Header />
        <div class="main-layout">
          <slot />
        </div>
      {showFooter && <MainFooter />}
  </body>
</html>

